version: '2'
services:

  app:
    image: golang
    volumes:
      - .:/go/src/app
    working_dir: /go/src/app/
    depends_on:
      - db

  db:
    image: postgres
    restart: always
    volumes:
    - ./env/init.sh:/docker-entrypoint-initdb.d/init.sh
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: admin